@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This Program is designed to allow the user, once logged in, to view the list of beverages availiable.</p>
<p>It also allows said user to manipulate the data by editting the name, package size, price, and availiability of each item, as well as</p>
<p>adding new items and deleting old ones</p>
<br />
<p>In order to access the list. You must log in using your email and password with the "Log in" Feature in the toolbar.</p>
<p>If you have not set up an account, you may do so with the "Register" Feature in the toolbar</p>
<p>Once you log in, you may now select the "List of Beverages" Feature in the toolbar</p>
<br  />
<p>Once on the beverages page, you search for specific items using the filter on the top of the list</p>
<p>If you would like to edit the price, package size, or name of an item, please select the "Edit" feature on the far right of each item</p>
<p>If you would like to create an item, please click on the "Create" button just below the filter above the list</p>
<p>If you would like to delete an item, please click on the "Delete" feature next to the "Edit" feature</p>
<br  />
<p>If you have any further difficulty in using this program, please click on the ""Contact" Feature in the toolbar</p>
<p>Thank you for using the Beverage program</p>
<br />
<br />
<p>Created by: Nic Smith</p>
