@{
    ViewBag.Title = "Home Page";
}


<h1>Beverage Program</h1>
<br />
<br />
<br />
<br />
<br />
<br />
<p>This Program is designed to allow the user, once logged in, to view the list of beverages availiable.</p>
<p>It also allows said user to manipulate the data by editting the name, package size, price, and availiability of each item, as well as</p>
<p>adding new items and deleting old ones</p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h3>For more information, please select the "About" Feature in the toolbar</h3>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<p>Created by: Nic Smith</p>
